<div class="example-wrapper">
  <div class="accurate-full-height">
    <div>calc(10 * var(--vh))</div>
    <div>calc(20 * var(--vh))</div>
    <div>calc(30 * var(--vh))</div>
    <div>calc(40 * var(--vh))</div>
    <div>calc(50 * var(--vh))</div>
    <div>calc(60 * var(--vh))</div>
    <div>calc(70 * var(--vh))</div>
    <div>calc(80 * var(--vh))</div>
    <div>calc(90 * var(--vh))</div>
    <div>calc(100 * var(--vh))</div>
  </div>
  <div class="inaccurate-full-height">
    <div>10vh</div>
    <div>20vh</div>
    <div>30vh</div>
    <div>40vh</div>
    <div>50vh</div>
    <div>60vh</div>
    <div>70vh</div>
    <div>80vh</div>
    <div>90vh</div>
    <div>100vh</div>
  </div>
</div>
